body {
    background: #606060;
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    float: right;
    padding-right: 25px;
}

nav ul li {
    list-style: none;
    margin-left: 15px;
    float: left;
    padding: 0;


}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    Color: #c95555;

}

a {
    text-decoration: none;
    Color: #c95555;
}

#titulos #titulo1 {
    font-size: 40px;
}

#cabecera {
    background: white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: black;
    font-weight: bold;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 15px;
    padding-bottom: 20px;
}

#cabecera #logo {
    width: 50px;
    float: none;
    margin: 0;
    padding-right: 550px;
}

#container {
    width: 70%;
    padding: 0;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 30px;
    color: black;
}
#producto {
    text-align: center;
    background: white;
    padding-top: 0px;
    padding-bottom: 0px;
    overflow: hidden;
    border-top: 1px solid black;
}

#foto {
    float: left;
    width: 55%;
    height: 500px;

}

#imagen1 {
    height: 100%;
    width: 100%;
}

#titulo {
    padding-top: 20px;
}

#titulo1 {
    padding-right: 190px;
}
#barra {
    padding-top: 20px;
    margin-left: 100px;
}
#titulo2 {
    padding-right: 240px;
}
#descripcion {
    padding-right: 80px;
}
#titulo3 {
    padding-right: 275px;
}
#busqueda {
    padding-right: 190px;
}
#raya_pequeña {
    padding-top: 40px;
    padding-right: 250px;
}

#footer {
    background: white;
    color: black;
    text-align: center;
    padding: 0.5em;
    border-top: 1px solid black;
    padding-bottom: 40px;
    
}

#footer a{
    text-decoration: none;
}

#footer nav{
    float: left;
    padding-left: 350px;
}

#footer nav ul li{
    list-style: none;
    margin-left: 40px;
    float: center;
    padding: 0;
    padding-left: 0px;
}

#footer2{
    text-align: center;
    background: white;
    padding-bottom: px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start; 
}

 #img{
    width: 20px;
    padding-top: 15px;
    padding-left: 510px;
  
 }
 #paf1{
    padding-top: 0;
    padding-right: 540px;
 }



.btn-platzi {
    background-color: #777;
    color: white !important;

}

.btn-platzi-1 {
    background-color: rgb(78, 78, 78);
    color: white !important;
    height: 40px;
    width: 150px;
    margin-right: 180px;
   
}

.btn-platzi:hover {
    background-color: #82ad36;
}
