body {
    background: #606060;
    color: #333;
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    float: right;
    padding-right: 25px;
}

nav ul li {
    list-style: none;
    margin-left: 15px;
    float: left;
    padding: 0;


}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    Color: #c95555;

}

#cabecera {
    background: white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: black;
    font-weight: bold;
    margin: 0 auto;
    padding: 0.5em;
    font-size: 15px;
    padding-bottom: 20px;
}

#cabecera #logo {
    width: 50px;
    float: none;
    margin: 0;
    padding-right: 550px;
}

#container {
    width: 70%;
    padding: 0;
    text-align: center;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container h1 {
    font-size: 30px;
    color: black;
}

#Producto {
    background-color: rgb(223, 215, 215);
    padding-top: 1em;
    padding-bottom: 1em;
}

#creacion {
    background-color: white;
    width: auto;
    padding-top: 1em;
}

#raya {
    padding-left: 70px;
}

#footer {
    background: white;
    color: black;
    text-align: center;
    padding: 0.5em;
    border-top: 1px solid black;
    padding-bottom: 50px;
    
}

#footer a{
    text-decoration: none;
}

#footer nav{
    float: left;
    padding-left: 350px;
}

#footer nav ul li{
    list-style: none;
    margin-left: 40px;
    float: center;
    padding: 0;
    padding-left: 0px;
}

#footer2{
    text-align: center;
    background: white;
    padding-top: 1em;
    padding-bottom: px;
    display: flex;
    justify-content: space-around;
    align-items:flex-start; 
}

 #img{
    width: 20px;
    padding-top: 15px;
    padding-left: 520px;
  
 }
 #paf1{
    padding-top: 0;
    padding-right: 540px;
 }

.buscar {
    width: 170px;
    height: 30px;
    margin-top: 25px;
    margin-right: 390px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.buscar1 {
    width: 600px;
    height: 100px;
    margin-top: 25px;
    margin-left: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}   

.buscar2 {
    width: 600px;
    height: 30px;
    margin-top: 25px;
    margin-left: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn-platzi {
    background-color: #777;
    color: white !important;

}

.btn-platzi-1 {
    background-color: rgb(78, 78, 78);
    color: white !important;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.btn-platzi-2 {
    background-color: rgb(223, 215, 215);
    color: black !important;
    height: 40px;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 30px;
    border: none;
}

.btn-platzi:hover {
    background-color: #82ad36;
}

